{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {% block content %}
<section class="donors">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="donors_input">
                    <h2>DONATION NOW</h2>

                    <h5>
                        {{wtf.quick_form(form)}}

                    </h5>

                </div>
                <div class="donors_image">
                    
                    <div class="donors_featured owl-carousel owl-theme">
                        <div class="item">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock%}