{% import 'macros.html' as macro%}
{% extends 'base.html'%}
{% block head%}
<!-- <link rel="stylesheet" href="../static/style.css"> -->
{% endblock %}
{% block content%}

<div class="jumbotron"
    style="background-image:url('https://res.cloudinary.com/mugisha-thierry/image/upload/v1608196334/charity2_wrbfhr.jpg');background-size: cover; background-position: center;">
    <div>
        <h1 class="text-center"
            style="letter-spacing: 5px;font-family: 'Euphoria Script', cursive;color:#2a8000;height: 10px;padding-top: 100px;">
            <strong>
                Charity Online</strong></h1>
        <p class="text-center"
            style="color: black;font-style: italic;font-family: 'Times New Roman', Times, serif; padding-top: 100px; padding-bottom: 150px;">
            "We make a living by what we get, but we make a life by what we give"<br>Winston churchill</p>
    </div>

</div>

<div class="container" id="particles-js">
    <style>
        i{color: green;font-size: 40px;}
    </style>
    <ul class="nav nav-pills nav-justified nav-fill" role="tablist" style="padding-bottom: 20px;">
        <br><br><br>
        <li class="nav-item">
            <a id="cats" class="nav-link" data-toggle="tab" style="background-color:green;" href="#religion"
                style="color: black"><strong>All event</strong></a><br>
        </li>
        <li class="nav-item">
            <a id="cats" class="nav-link" data-toggle="tab" style="background-color:#e3f2fd;" href="#education"
                style="color: black"><strong>Food</strong></a><br>
        </li>
        <li class="nav-item">
            <a id="cats" class="nav-link" data-toggle="tab" style="background-color:#e3f2fd;" href="#music"
                style="color: black"><strong>Clothes</strong></a><br>
        </li>
        <li class="nav-item">
            <a id="cats" class="nav-link" data-toggle="tab" style="background-color:#e3f2fd;" href="#education"
                style="color: black"><strong>Money</strong></a><br>
        </li>
        <li class="nav-item">
            <a id="cats" class="nav-link" data-toggle="tab" style="background-color:#e3f2fd;" href="#education"
                style="color: black"><strong>Books</strong></a><br>
        </li>
    </ul>
    <hr>
    <div class="tab-content">

        <div class="container tab-pane active" id="religion" style="background-color:#d6dfe6;"><br>

            {{macro.display(event)}}
        </div>

        <div class="container tab-pane fade" id="education" style="background-color:#cdd6dd;"><br>

            {{macro.display(food)}}

        </div>
        <div class="container tab-pane fade" id="music" style="background-color: #cdd6dd;"><br>

            {{macro.display(clothes)}}

        </div>
        <div class="container tab-pane fade" id="music" style="background-color: #cdd6dd;"><br>

            {{macro.display(money)}}

        </div>
        <div class="container tab-pane fade" id="music" style="background-color: #cdd6dd;"><br>

            {{macro.display(books)}}

        </div>
        
        <hr>

    </div>
</div>

<div id="contact">
    <div class="container">
        <br><br>
        <h1 class="text-center" style="color: green;"><strong> Contact Details</h1></strong>
        <div class="row">
            <div class="col-sm-6" style="padding:3%">
                <form action="" style="padding:10%" id="form1">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name" required="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" id="email" placeholder="E-mail"
                            required="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number"
                            required="">
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" name="message_body" id="message_body"
                            placeholder="Your Message" required="" style="height:100px; "></textarea>
                    </div>
                    <button class="btn" type="submit" style="width: 100%; background-color: #2a8000; color: aliceblue;"
                        data-toggle="modal" data-target="#messageReceived">Submit form</button>
                </form>
            </div>
            <div class="col-sm-6" style="padding:4%">
                <div class="card" style="background-color: #dfede3;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <i class='fas fa-map-marker-alt'></i>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="card-title">Our Location</h3>
                                <p class="card-text">Kigali,Rwanda
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card" style="background-color: #dfede3;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <i class='fas fa-phone'></i>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="card-title">Phone</h3>
                                <p class="card-text">Mobile:+250 788 333 888
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card" style="background-color: #dfede3;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <i class='fas fa-envelope-open-text'></i>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="card-title">Our Email</h3>
                                <p class="card-text">charity.online@gmail.com
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}